<template>
  <div class="hello">
    <h1>{{ msg }}</h1>
    <p>
     Below is how we consume the API
    </p>
    <p><strong>Response from API:</strong> {{users}}</p>
    <h2>A more beautiful List</h2>
    <h3>Users</h3>
    <ol>
      <li v-for="user in users" :key="user.name"> {{user.name}}</li>
    </ol>

     </div>
</template>
<script>
  import axios from 'axios';
export default {
  name: 'HelloWorld',
  props: {
    msg: String
  },
  data() {
    return {
      users: []
    };
  },
  methods: {
    getUsers() {
      //Get user data from API
      var url = 'http://localhost:3000/users';
      axios.get(url,{headers: {'Content-Type': 'application/json'}}).then((response) =>{
        //response from the api with user data is assigned to a local variable and can be manipulated locally by vue.js
        this.users = response.data.users;
      })

    }
  },
  //Runs functions listed within each time this vue component instance is created
  created() {
    //This function is defined above
    this.getUsers();
  }

}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  /*display: inline-block;*/
  margin: 0 10px;
}
a {
  color: #42b983;
}
</style>
